.signin-btn-submit {
    font-weight: 800;
    font-size: large;
    color: white;
    text-align: center;

    background-color: #56C6F3;
    border: 1px solid #bed5f5;

    text-transform: uppercase;
    border-radius: 20px;

    background: linear-gradient(to right, #7da5dd, #56C6F3 );
}

.form-lines {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    border-bottom-color: #56C6F3;
}

.signin-btn-submit:hover {
    background: linear-gradient(to left, #7da5dd, #56C6F3 );
    box-shadow: 0 4px 8px rgb(96, 136, 215);
}