/* .body-opt {
    position: relative;
    height: 95vh;
    background-color: rgb(139, 169, 172);
} */

.body-opt-cards {
    /* position: relative; */
    margin-top: 40px;
}

.opt-btn-path {
    font-weight: 800;
    font-size: large;
    color: white;
    text-align: center;

    background-color: #56C6F3;
    border: 1px solid #bed5f5;
    width: 400px;

    text-transform: uppercase;
    border-radius: 20px;
}

.opt-btn-explore{
    height: 50px;
    font-weight: 800;
    font-size: large;
    color: white;
    text-align: center;

    background: linear-gradient(to right, #74a5e9, #419dd2 );;

    /* background-color: #00597a; */
    border: 1px solid #bed5f5;
    width: 400px;

    text-transform: uppercase;
    border-radius: 20px;
}

.body-opt-text-lg {
    font-size: 60px;
    font-weight: 600;

    text-transform: capitalize;
    color: #3575D2;
}

.card {
    background-color: #F3F4F6;
    height: 100%;

}

.card:hover {
    box-shadow: 0 4px 9px rgb(47, 53, 65);
}
/* 
.learn-build {
    height: 100vh;
    background-size: cover;
    background-position: top;

    background-image: url(./learn-build.svg);
} */

.tech-box {
    /* margin-top: 50px; */
    /* position: relative; */
    /* height: 90px; */
    /* background-color: blue; */
}
